# Build outputs
**/build/
**/out/
**/target/
**/.gradle/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# VS Code
.vscode/
*.code-workspace

# Eclipse
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Env files (never commit secrets)
.env
.env.local
*.env.local

# LocalStack persistence (gitignored — recreated on startup)
infra/.localstack/

# Spring Boot
HELP.md

### Kotlin ###
.kotlin

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/